.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  background-color: rgb(23, 23, 44);
  color: white;
  overflow-x: hidden;
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  height: 30vh;
  width: 100vw;
  justify-content: center;
  overflow-x: hidden;
}

.slider {
  border: none;
  width: 5%;
  height: 20%;
  font-size: 2vw;
  background-color: black;
}

.slider:hover {
  cursor: pointer;
  transform: scale(1.1);
}
